body {
  background-color: #2E2E2E;
}

h1 {
  color: white;
  font-family: 'Hind Vadodara', sans-serif;
  font-size: 3vw;
  margin-top: -7em;
}

h2 {
  color: grey;
  font-family: 'Hind Vadodara', sans-serif;
  font-size: 1vw;
}

a {
  color: grey;
}

footer {
  position: absolute;
  bottom: 3em;
  width: 99%;
  text-align: center;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 5px;
  left: 5px;
}

#forkMe {
  position: absolute;
  top: 0;
  right: 0;
  border: 0;
  z-index: 9;
}
